<div >
  <p style="color: green"><%= notice %></p>

  <div class="title-md">Введите свои логин и пароль для входа</div>

  <div>
    <%= form_with scope: :session, url: session_path do |form| %>
      <p> 
        <%= form.label :nickname, "Логин" %>
      </p>
      <p> 
        <%= form.text_field :nickname, class: 'form-text-field' %>
      </p>
      <p class="mt"> 
        <%= form.label :password, "Пароль" %>
      </p>
      <p> 
        <%= form.password_field :password, class: 'form-text-field' %>
      </p>
      <p class="mt-lg"> 
        <%= form.submit 'Войти', class: 'button button-main'%>
      </p>
    <% end %>
  </div>
</div>