<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-md">
    <%= form.label :name, "Имя", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mt-md">
    <%= form.label :job_titles_id, "Должность", style: "display: block" %>
    <%= form.collection_select :job_titles_id, JobTitle.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.submit "Сохранить", class: "button button-main button-add mt" %>
  </div>
<% end %>
