<div class="container">
<%# вывод объекта - сообщения для пользователя %>
      <% if flash[:notice].present? %>
        <p class= "mb mt message message-notice">
          <%= flash[:notice] %>
        </p>
      <% end %>

      <% if flash[:alert].present? %>
        <p class= "mb mt message message-notice">
          <%= flash[:alert] %>
        </p>
      <% end %>
  <h2 class="title">Редактирование сотрудника</h2>
<p>
  <%= link_to 'Список всех сотрудников', employees_path, class: 'button button-main'%>
</p>
  <div class="mt">
    <%= form_with model: @employee do |form| %>
      <p>
        <%= form.label :name, 'Имя сотрудника' %>
      </p>
      <p>
        <%= form.text_field :name, class: 'form-text-field' %>
      </p>
      
      <p class="mt">
        <%= form.label :job_title, 'Должность' %>
      </p>
      <p>
        <%= form.select :job_title, job_titles.map{ |title| title.title } %>
      </p>
      
      <p class="mt">
        <%=form.label :login, 'Логин' %>
      </p>
      <p>
        <%= form.text_field :login, class: 'form-text-field' %>
      </p>
      
      <p class="mt">
        <%= form.label :password, 'Пароль' %>
      </p>
      <p>
        <%= form.password_field :password, class: 'form-text-field' %>
      </p>

      <p class="mt-lg">
        <%= form.submit 'Сохранить изменения', class: 'button button-main'%>
      </p>
    <% end %>
  </div>
</div>