<div class="container">
  <h2>Список Сотрудников</h2>
  <p class="mt">
    <%= link_to "Создать нового сотрудника", new_employee_path, class: 'button button-main' %>
  </p>

  <%# <p class="mt">
    <%= render 'form', employee: @employee
  </p> %>

  <% @employees.each do |employee| %>
    <div class="mt-sm container">
      <p><%= employee.id%></p>
      <p>Имя: <%= employee.name %></p>
      <p>Логин: <%= employee.login %></p>
      <p>
      <%=button_to "Удалить сотрудника", employee_path(employee), formmethod: :delete %>
      </p>
      <p></p>
    </div>
  <% end %>

</div>