<div id="<%= dom_id brew %>" style="display: block">
  <div style="display: block" >
    <div class="text">Партия:</div>
    <%= brew.batch %>
  </div>

  <div style="display: block">
    <div class="text">Дата:</div>
    <%= brew.date %>
  </div>

  <div style="display: block">
    <div class="text">Полупродукт:</div>
    <%= Product.find(brew.product_id).name %>
  </div>

  <div style="display: block">
    <div class="text">Оборудование:</div>
    <%= Equipment.find(brew.equipments_id).name %>
  </div>

    <%# <div style="display: block">
    <div class="text">Протокол промывки:</div> %>
    <%# checklist = Checklist.find(brew.checklist_id) %>
    <%# link_to "Ссылка на прокотол промывки", @checklist class: "link"%>
  </div>

</div>
