<div id="<%= dom_id brew %>" style="display: block">
  <div style="display: block" >
    <div class="text">Партия:</div>
    <%= brew.batch %>
  </div>

  <div style="display: block">
    <div class="text">Дата:</div>
    <%= brew.date %>
  </div>

  <div style="display: block">
    <div class="text">Полупродукт:</div>
    <%= Product.find(brew.product_id).name %>
  </div>

  <div style="display: block">
    <div class="text">Оборудование промывалось :</div>
    <% if brew.washed %>
      <%= "ДА"%>
    <% else %>
      <%= "НЕТ"%>
    <% end%>
  </p>

</div>
