<div id="<%= dom_id brew %>">
  <p>
    <strong>Batch:</strong>
    <%= brew.batch %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= brew.date %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= brew.product_id %>
  </p>

  <p>
    <strong>Washed:</strong>
    <%= brew.washed %>
  </p>

</div>
