<%= form_with(model: brew) do |form| %>
  <% if brew.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
        <% brew.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :batch, style: "display: block" %>
    <%= form.text_field :batch %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :washed, style: "display: block" %>
    <%= form.check_box :washed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
