<%= form_with(model: brew) do |form| %>
  <% if brew.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
        <% brew.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="display: inline-block" class="mt">
    <div class="mt title-sm mr-lg" style="display: inline">
      <%= form.label :batch,"Партия : "%>
      <%= form.text_field :batch, class: 'form-text-field'%>
    </div>

    <div class="mt title-sm" style="display: inline">
      <%= form.label :date,"Дата : " %>
      <%= form.date_field :date %>
    </div>

    <div class="mt title-sm" style="display: block">
      <%= form.label :product_id, "Полупродукт :" %>
      <%= form.grouped_collection_select :product_id, Series.order(:name), :product, :name, :id, :name%>
      <%# grouped_collection_select _имя возвращаемого парамета_, список серий, полупродукт в серии, имя серии, id полупродукта, имя полупродукта %>
    </div>

    <div class="mt title-sm" style="display: block">
      <%= form.label :equipments_id,"Оборудование : " %>
      <%= form.collection_select :equipments_id, Equipment.order(:name), :id, :name, {prompt: "Выбирите оборудование"}%>
    </div>

    <div class="mt title-sm" style="display: block">
      <%= form.label :checklist_id,"Протокол промывки : " %>
   
      <%= form.label :checklist_id, "#{@checklist.id} #{@checklist.start_date} #{@checklist.end_date}" %>
    </div>

  </div>
  <div class="mt">
    <%= form.submit "Сохранить", class: "button button-main button-add" %>
  </div>
<% end %>
