<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tr>
      <td><%= form.label :employee_id, "Сотрудник" %></td>
      <td><%= form.collection_select :employee_id, Employee.order(:name), :id, :name %></td>
    </tr>

    <tr>
      <td><%= form.label :nickname, "Логин", class: "inline mt-sm" %></td>
      <td><%= form.text_field :nickname %></td>
    </tr>

    <tr>
      <td><%= form.label :password, "Пароль", class: "inline mt-sm" %></td>
      <td><%= form.text_field :password %></td>
    </tr>

    <tr> 
      <td><%= form.label :admin_rule, "Права администратора"%></td>
      <td><%= form.check_box :admin_rule %></td>
    </tr>
  </table>
  <div>
    <%= form.submit "Сохранить", class: "button button-main button-add mt" %>
  </div>
<% end %>
