<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mt-sm">
    <%= form.label :employee_id, "Сотрудник" %>
    <%= form.collection_select :employee_id, Employee.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.label :nickname, "Логин", class: "block mt-sm"%>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :password_digest, "Пароль", class: "block mt-sm"%>
    <%= form.text_field :password_digest %>
  </div>

  <div class="mt-sm">
    <%= form.label :admin_rule, "Права администратора"%>
    <%= form.check_box :admin_rule %>
  </div>

  <div>
    <%= form.submit "Сохранить", class: "button button-main button-add mt" %>
  </div>
<% end %>
