<div id="<%= dom_id user %>">
  <p>
    <strong>Сотрудник:</strong>
    <%= Employee.find(user.employee_id).name %>
  </p>

  <p>
    <strong>Логин:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong>Пароль:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Права администратора:</strong>
    <%= "ДА" if user.admin_rule %>
  </p>

</div>
