<%= form_with(model: job_title) do |form| %>
  <% if job_title.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_title.errors.count, "error") %> prohibited this job_title from being saved:</h2>

      <ul>
        <% job_title.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title-sm mb mt">
    <%= form.label :name, "Наименование"%>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.submit "Сохранить", class: "button button-main button-add"%>
  </div>
<% end %>
