<h2>Добавление полупродукта</h2>

<%= form_with model: @semiproduct do |form| %>
  <p><%= form.label :name, 'Наименование полупродукта' %></p>
  <p><%= form.text_field :name %></p>

  <p><%= form.label :seriest, 'Серия полупродукта' %></p>
  <p><%= form.select :series, series.map{ |series| series.name } %></p>

  <p><%= form.submit 'Добавить' %></p>
<% end %>