<div id="<%= dom_id checklist %>">
  <p>
    <strong>Start date:</strong>
    <%= checklist.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= checklist.end_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= checklist.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= checklist.end_time %>
  </p>

  <p>
    <strong>Brew:</strong>
    <%= checklist.brew_id %>
  </p>

  <p>
    <strong>Washer:</strong>
    <%= checklist.washer_id %>
  </p>

  <p>
    <strong>Cheking:</strong>
    <%= checklist.cheking_id %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= checklist.equipment_id %>
  </p>

</div>
