<div id="<%= dom_id checklist %>" class>
  <p>
    <strong>Дата начала:</strong>
    <%= checklist.start_date %>
  </p>

  <p>
    <strong>Дата окончания:</strong>
    <%= checklist.end_date %>
  </p>

  <p>
    <strong>Время начала:</strong>
    <%= checklist.start_time %>
  </p>

  <p>
    <strong>Время окончания:</strong>
    <%= checklist.end_time %>
  </p>

  <p>
    <strong>Варка:</strong>
    <%= @brew.batch %>
  </p>

  <p>
    <strong>Мойщик:</strong>
    <%= @washer.name %>
  </p>

  <p>
    <strong>Проверяющий:</strong>
    <%= @cheking.name %>
  </p>

  <p>
    <strong>Оборудование:</strong>
    <%= checklist.equipment_id %>
  </p>

</div>
