<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="title-md mb-sm">Протоколы промывки оборудования</div>
  <%= link_to "Добавить", new_checklist_path, class: "button button-main button-add mb" %>
  <div id="checklists">
    <% @checklists.each do |checklist| %>
      <%= "#{ checklist.end_date } - #{ Brew.find(checklist.brew_id).batch } 
          - #{ Equipment.find(checklist.equipment_id).name }" %>
      
      <div class="mb">
        <%= link_to "Просмотреть протокол", checklist %>
        <%= button_to "Удалить", checklist, method: :delete, class: "button button-main button-delete" %>
      </div>

    <% end %>
  </div>

  
</div>