<div class="container">
  <div class="title-md">Протокол промывки</div>
  <div class="title-sm">Оборудование: <%= Equipment.find(@brew.equipments_id).name %></div>
  <% product = Product.find(@brew.product_id) %>
  <% serias = Series.find(product.series_id) %>
  <div class="title-sm">Полупродукт:  <%= product.name %> <%= serias.name %></div>
  <div class="title-sm mb">Мойщик: <%= Employee.find(current_user.employee_id).name %></div>

  <%= render "form_new", checklist: @checklist %>

  <script>
    document.getElementById("btn-stage1").onclick = function() {
      let elements = document.querySelectorAll('.stage1');
      for (let elem of elements){
        elem.classList.toggle('through');
      }
    };

    document.getElementById("btn-stage2").onclick = function() {
      document.getElementById("checklist_cheking_id").disabled = true;
      let elements = document.querySelectorAll('.stage2');
      for (let elem of elements){
        elem.classList.toggle('through');
      }
    };
  </script>
</div>