
<div class="container">
<p style="color: red" class="mb"><%= notice %></p>
  <%= render @series %>
  <div class="mb mt">
    <%= button_to "Удалить серию", @series, method: :delete, class: 'button button-main' %>
  </div>

  <div>
    <p  class="mb"><%= link_to "Добавить полупродукт", new_product_path, class: 'button button-main' %></p>
    <hr>
    <p  class="mb title-sm">Список полупродуктов:</p>
    <% @series.product.each do |product|%>
      <p><%= product.name %> <%= button_to "Удалить", product, method: :delete, class: 'button button-main' %> </p>
    <% end %>
  </div>
</div>