<p style="color: green"><%= notice %></p>

<%= render @series %>
<div>
  <%= button_to "Удалить серию", @series, method: :delete %>
</div>

<div>
  <p><%= link_to "Добавить полупродукт", new_product_path %></p>
  <p>Список полупродуктов:</p>
  <% @series.product.each do |product|%>
    <p><%= product.name %> <%= button_to "Удалить", product, method: :delete %> </p>
    <hr>
  <% end %>
</div>