<!DOCTYPE html>
<html>
  <head>
    <title>Учет промывок</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
        <div style="text-align:right; padding-right: 20px;">
          <% if current_user.present? %>
            <%= "#{Employee.find(current_user.employee_id).name}"%>
            <%# кнопка выхода из сессии %>
            <%= button_to "Выйти", session_path, method: :delete, class: "button button-delete" %>
          <% else %>
            <%= link_to 'Вход', new_session_path, class: 'button button-main mt-sm mr-sm' %>
          <% end %>
        </div>
      <div class="navbar">
        <% if current_user.present? %>
          <% if current_user.admin_rule %>
            <div><%= link_to 'Варки', brews_path, class: 'button button-main mr-sm' %></div>
            <div><%= link_to 'Оборудование', equipment_index_path, class: 'button button-main mr-sm' %></div>
            <div><%= link_to 'Типы оборудования', equipment_types_path, class: 'button button-main mr-sm' %></div>
            <div><%= link_to 'Должности', job_titles_path , class: 'button button-main mr-sm' %></div>
            <div><%= link_to 'Сотрудники', employees_path, class: 'button button-main mr-sm'%></div>
            <div><%= link_to 'Серии полупродукта', series_index_path, class: 'button button-main' %></div>
            <div><%= link_to 'Пользователи', users_path, class: 'button button-main mt-sm mr-sm' %></div>
          <% end %>
        <% end %>
        <div><%= link_to 'Протоколы промывки', checklists_path, class: 'button button-main mt-sm mr-sm' %></div>
        <div><%= link_to 'Главная', mainpage_index_path, class: 'button button-main mt-sm mr-sm' %></div>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
