<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
    <%# вывод объекта - сообщения для пользователя %>
      <% if flash[:notice].present? %>
        <p class= "mb mt message message-notice">
          <%= flash[:notice] %>
        </p>
      <% end %>

      <% if flash[:alert].present? %>
        <p class= "mb mt message message-notice">
          <%= flash[:alert] %>
        </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
